.opb-avatar {
  position: relative;

  .opb-avatar__placeholder-image {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .opb-avatar__placeholder-label {
    text-decoration: underline;
  }

  .opb-croppa-container {
    box-shadow: var(--octo-shadow-idle);
    position: relative;
    overflow: hidden;
    border-radius: 999px;
    border: 1px dashed black;
    font-size: 0 !important;
    cursor: pointer;
    .opb-avatar__placeholder {
      color: var(--octo-text-default);
      font-size: 18px !important;
    }
  }

  .has-file {
    .opb-croppa-container {
      border: 1px solid black;
    }
  }

  .opb-croppa-container:hover {
    box-shadow: var(--octo-shadow-focus);
    border-color: var(--octo-primary-500);
    .opb-avatar__placeholder {
      color: var(--octo-primary-500);
    }
  }

  .opb-avatar__change-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
