.octo-image {
  position: relative;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  .octo-avatar__placeholder-image {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .octo-avatar__placeholder-label {
    text-decoration: underline;
  }

  .octo-croppa-container {
    box-shadow: var(--octo-shadow-idle);
    border-radius: var(--octo-radius-default);
    border: 1px dashed black;
    overflow: hidden;
    font-size: 0 !important;
    cursor: pointer;
    .octo-avatar__placeholder {
      color: var(--octo-text-default);
      font-size: 18px !important;
    }
  }

  .has-file {
    .octo-croppa-container {
      border: 1px solid black;
    }
  }

  .octo-croppa-container:hover {
    box-shadow: var(--octo-shadow-focus);
    border-color: var(--octo-primary-500);
    .octo-avatar__placeholder {
      color: var(--octo-primary-500);
    }
  }

  .octo-avatar__change-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    display: flex;

    .octo-avatar__focus-btn {
      margin-left: 0.5rem;
    }
  }
}


.octo-image__focus-target {
  position: absolute;
  pointer-events: none;
  transition: all 0.1s;
  color: #00FFFF;
  fill: #00FFFF;
  width: 40px;
  height: 40px;
}