.opb-page-builder{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .opb-content  {
    flex: 1;
    overflow-y: scroll;
    position: relative;
    background-color: var(--octo-muted-200);
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    
    .obp-content__container {
      background-color: white;
      margin: 0 auto;
      transition: width 0.3s ease-in-out;
      min-height: 200px;
    }
  }
}


.pointer-events-none {
  pointer-events: none;
}


.opb-block-empty {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .opb-block-empty__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--octo-muted-500);

    * + * {
      margin-top: 1rem;
    }
  }
}

.opb-block-settings {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;

  * + * {
    margin-left: 1rem;
  }
}

// old .opb-page-builder
.draggable-item {
  box-sizing: border-box;
  border: 1px solid transparent;
  position: relative;
  .opb-block-settings {
    display: none;
  }

  &:hover,
  &:focus {
    border: 1px dashed black;
    .opb-block-settings {
      display: flex;
    }
  }
}


.transparent-input {
  background: transparent;
  color: inherit;
  width: 100%;
}