@import "./components/all";

.octo-form__flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  &.is-col {
    flex-direction: column;
  }
}

.octo-form__inset-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.octo-aspect-ratio-box {
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.octo-aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
