// Change scale

// $mod_1: 1.067;
// $mod_2: 1.333;

// Calculate Modular Scale
// You don't need to calculate this with Sass
// You can use values from http://type-scale.com/
// Or random values :)

// $h1-min: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
// $h1-max: $mod_2 * $mod_2 * $mod_2 * $mod_2 * 1rem;

// $h2-min: $mod_1 * $mod_1 * $mod_1 * 1rem;
// $h2-max: $mod_2 * $mod_2 * $mod_2 * 1rem;

// $h3-min: $mod_1 * $mod_1 * 1rem;
// $h3-max: $mod_2 * $mod_2 * 1rem;

// $h4-min: $mod_1 * 1rem;
// $h4-max: $mod_2 * 1rem;

// $h5-min: 1rem;
// $h5-max: 1rem;

// $h6-min: (1rem / $mod_1);
// $h6-max: (1rem / $mod_2);

$h1-min: 50px;
$h1-max: 80px;

$h2-min: 40px;
$h2-max: 60px;

$h3-min: 20px;
$h3-max: 30px;

$h4-min: 16px;
$h4-max: 24px;

$h5-min: 16px;
$h5-max: 20px;

$h6-min: 18px;
$h6-max: 24px;

$min-screen: 600px;
$max-screen: 1180px;

// Apply fluid type mixin

h1 {
  @include fluid-type(font-size, $min-screen, $max-screen, $h1-min, $h1-max);
  font-family: "Fira Sans", sans-serif;
}

.header-title {
  @include fluid-type(font-size, $min-screen, $max-screen, 30px, 40px);
  font-family: "Fira Sans", sans-serif;
}

h2 {
  @include fluid-type(font-size, $min-screen, $max-screen, 20px, 30px);
  @include fluid-type(line-height, $min-screen, $max-screen, 26px, 36px);
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  // font-size: 30px;
  // line-height: 36px;
  letter-spacing: 0;
}

h3 {
  @include fluid-type(font-size, $min-screen, $max-screen, 16px, 20px);
  @include fluid-type(line-height, $min-screen, $max-screen, 20px, 24px);
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  // font-size: 20px;
  // line-height: 24px;
  letter-spacing: 0;
}

.title-program-block {
  font-size: $h3-max;
  line-height: 1;
  font-family: "Fira Sans", sans-serif;
}

h4 {
  font-family: "Fira Sans", sans-serif;
  @include fluid-type(font-size, $min-screen, $max-screen, $h4-min, $h4-max);
}

h5 {
  font-family: "Fira Sans", sans-serif;
  @include fluid-type(font-size, $min-screen, $max-screen, $h5-min, $h5-max);
}

.cover-btn-text {
  font-family: "Fira Sans", sans-serif;
  @include fluid-type(font-size, $min-screen, $max-screen, $h5-min, $h5-max);
}

.news-title-sm {
  font-family: "Fira Sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  height: 19px * 2;
}

.news-title-sm-container {
  height: 24px * 2;
}

h6 {
  @include fluid-type(font-size, $min-screen, $max-screen, $h6-min, $h6-max);
}
